<!DOCTYPE html>
<html>

<head>

    <title>Checkout</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

<nav>

    <div class="logo">
        🛒 ShopEase
    </div>

</nav>

<h1 class="center">
    Checkout
</h1>

<div class="cart-container">

    <% cart.forEach(item => { %>

        <div class="cart-item">

            <img src="<%= item.image %>">

            <div>

                <h2>
                    <%= item.name %>
                </h2>

                <h3>
                    ₹<%= item.price %>
                </h3>

            </div>

        </div>

    <% }) %>

    <div class="checkout-box">

        <h2>
            Total Amount: ₹<%= total %>
        </h2>

        <form action="/place-order" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Enter Full Name"
                required
            >

            <input
                type="text"
                name="phone"
                placeholder="Enter Mobile Number"
                required
            >

            <textarea
                name="address"
                placeholder="Enter Delivery Address"
                required
            ></textarea>

            <select name="payment">

                <option>
                    Cash On Delivery
                </option>

                <option>
                    UPI Payment
                </option>

                <option>
                    Credit Card
                </option>

            </select>

            <button class="checkout-btn">

                Place Order

            </button>

        </form>

    </div>

</div>

</body>

</html>